@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background: var(--background);
    font: 1rem Roboto;
    color:var(--txt);
}

:root {
    --background: #FAFAF8;
    --grey: #6B6F79;
    --green: #0F6E56;
    --corail: #993C1D;
    --fade-corail: #FAECE7;
    --txt: #1B1D22;
    --stroke : #E2EEE1;
}

html {scroll-behavior: smooth;}

@media (min-width:1024px){

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    border-bottom: 1px solid var(--stroke);
}

nav p {
    font: 1.1rem Sora;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    gap: 20px;
}

}

